params {
    // Input FASTQ files (paired)
    reads   = '/home/isky20/02.project/01.ultravitromics/0.fastqc/*_{R1,R2}.fastq.gz'
    adapters = '/mnt/e/proje-smartseq-ultravitromics/process/02.trim_fastq/adapters.fa'
    outdir   = "${projectDir}/2.trimmed"
    outdirAlign   ="${projectDir}/3.align"
    outdirdup = "${projectDir}/4.Remove_Duplication"
    outdircount = "${projectDir}/5.count"
    gtf = "/home/isky20/99.ref/01.Homo_sapiens/Homo_sapiens.GRCh38.115.gtf"
    index = "/home/isky20/99.ref/01.Homo_sapiens/star_index"

}


process {
  withName:TRIM_ADAPTOR {
    container = '/home/isky20/01.software/SIF/eautils-1.04.676.sif'
    maxForks  = 7       // up to 7 samples in parallel
    cpus      = 3       // 7 × 3 = 21 CPUs total
    memory    = '8 GB'  // 7 × 8 = 56 GB total
  }

  withName:ALIGN_STAR {
    container = '/home/isky20/01.software/SIF/star-2.7.11b.sif'
    maxForks  = 1
    cpus      = 16      // leave headroom for OS/IO
    memory    = '48 GB'
  }

  withName:REMOVE_DUP {
    container = '/home/isky20/01.software/SIF/samtools-1.22.1.sif'
    maxForks  = 4       // avoid colliding with TRIM
    cpus      = 2
    memory    = '6 GB'
  }

  withName:COUNTMATRIX {
    container = '/home/isky20/01.software/SIF/subread-2.1.1.sif'
    maxForks  = 1
    cpus      = 20
    memory    = '48 GB'
  }
}


